
  /* When the pattern is matched */
input[type=text]:valid {
    color: green;
}
input[type=text]:not(:focus) {
    color: black;
}
/* Unmatched */
input[type=text]:invalid {
    color: red;
}
  /* When the pattern is matched */
input[type=password]:valid {
    color: green;
}
input[type=password]:not(:focus) {
    color: black;
}
/* Unmatched */
input[type=password]:invalid {
    color: red;
}
/* Shine */
.hover figure {
  position: relative;
}
.hover figure::before {
  position: absolute;
  top: 0;
  left: -75%;
  z-index: 2;
  display: block;
  content: '';
  width: 50%;
  height: 100%;
  background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
  background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
  -webkit-transform: skewX(-25deg);
  transform: skewX(-25deg);
}
.hover figure:hover::before {
  -webkit-animation: shine 2.0s;
  animation: shine 2.0s;
}
@-webkit-keyframes shine {
  100% {
    left: 125%;
  }
}
@keyframes shine {
  100% {
    left: 125%;
  }
}